[url "https://rrrv@github.com"]
[credential]
	helper = cache --timeout=28800
[user]
	name = rrrv

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = red

[http]
	postBuffer = 524288000
